<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>1.html</title>
</head>
<body>
<form action="2.html" method="get">
    <h2>第一项</h2>
    <p><input type="radio" value="11" name="one">工人</p>
    <p><input type="radio" value="12" name="one">农民</p>
    <p><input type="radio" value="13" name="one">军人</p>
    <p><input type="radio" value="14" name="one">学生</p>
    <hr>
    <h2>第二项</h2>
    <p><input type="radio" value="21" name="two">工人</p>
    <p><input type="radio" value="22" name="two">农民</p>
    <p><input type="radio" value="23" name="two">军人</p>
    <p><input type="radio" value="24" name="two">学生</p>
    <hr>
    <input type="submit" value="Submit" />
</form>
</body>
</html>