<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script>
        function uploadpic() {
            var formData = new FormData();
            var file = document.getElementById('file').files[0];
            // var id_token = $('#id_token').val();
            formData.append("file", file);
            // formData.append("id_token", id_token);
            $.ajax({
                url: "/uploadESignatureImg",
                type: "POST",
                data: formData,
                dataType: "json",
                // cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须*/
                success: function (data) {
                    // console.log(data);
                    $("#dianziqianmingImg").attr('src', '${path }' + data.msg).removeAttr('style').attr('style', 'width: 100px;height: 100px');
                    $("#dianziqianmingPath").val(data.msg)
                }
            });}

    </script>
</head>
<body>
<form id="form1" enctype="multipart/form-data">
    <input type="file" id="file" name="imgfile" >
    <input id="submit" type="submit" value="提交" onclick="uploadpic()"/>
    <!--<button onclick="uploadpic()"/>-->
    <input type="hidden" name="dianziQianming" id="dianziqianmingPath"/>
</form>
</body>
</html>